@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div><ul class="theme_body"></ul></div><div id="pagecount" class="pagecount"></div>
    @{ 
    }
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var curPage = 1; //当前页码
    var total, pageSize, totalPage; //总记录数，每页显示数，总页数
    getData(1);
    $("#pagecount").on('click', 'span a', function () {
        var rel = $(this).attr("rel");
        if (rel) {
            getData(rel);
        }
    });
    function getData(page) {
        $.ajax({
            url: "api/values/list",
            type: 'get',
            data: { 'PageIndex': page, PageSize: 10 },
            beforeSend: function () {

            },
            success: function (data) {
                console.log(data);
                total = data.totalItems; //总记录数
                pageSize = data.itemsPerPage; //每页显示条数
                curPage = data.currentPage; //当前页
                console.log(curPage);
                totalPage = data.totalPages; //总页数
                var ul = $('.theme_body').find('*').remove();
                string = '';
                for (var i = 0; i < data.items.length; i++) {
                    string += "<p>" + data.items[i].id + "&nbsp;&nbsp;&nbsp;&nbsp;" + data.items[i].title + "&nbsp;&nbsp;&nbsp;&nbsp;" + data.items[i].title2 + "&nbsp;&nbsp;&nbsp;&nbsp;" + data.items[i].releaseDate + "&nbsp;&nbsp;&nbsp;&nbsp;" + data.items[i].pv + "&nbsp;&nbsp;&nbsp;&nbsp;" + data.items[i].user_Id + "</p>";
                }
                $('.theme_body').append(string);

            },
            complete: function () { //生成分页条
                getPageBar();
            },
            error: function () {
                alert("数据加载失败");
            }
        });
    }
    //获取分页条
    function getPageBar() {
        $("#pagecount").find('*').remove();
        //页码大于最大页数
        if (curPage > totalPage) curPage = totalPage;
        //页码小于1
        if (curPage < 1) curPage = 1;
        pageStr = "<span>共" + total + "条</span><span>" + curPage + "/" + totalPage + "</span>";

        //如果是第一页
        if (curPage == 1) {
            pageStr += "<span>首页</span><span>上一页</span>";
        } else {
            pageStr += "<span><a href='javascript:void(0)' rel='1'>首页</a></span><span><a href='javascript:void(0)' rel='" + (curPage - 1) + "'>上一页</a></span>";
        }

        //如果是最后页
        if (curPage >= totalPage) {
            pageStr += "<span>下一页</span><span>尾页</span>";
        } else {
            pageStr += "<span><a href='javascript:void(0)' rel='" + (parseInt(curPage) + 1) + "'>下一页</a></span><span><a href='javascript:void(0)' rel='" + totalPage + "'>尾页</a></span>";
        }
        $("#pagecount").append(pageStr);
    }
</script>
