<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">
  <targets>
    <!--<target xsi:type="Null" name="blackhole" />-->
    <target xsi:type="File" name="allfile" fileName="logs/all/nlog-all-${shortdate}.log"
             layout="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline" />
    
    <target xsi:type="File" name="ownFile" fileName="logs/my/nlog-my-${shortdate}.log"
             layout="[%date]  %thread -- %-5level -- %logger [%M] -- %message%newline" />

    <target xsi:type="Null" name="blackhole" />
    <target name="database" xsi:type="Database"
              dbProvider="System.Data.SqlClient"
              connectionString="uid=sa;Password=Gc262314;database=ddDb;Server=192.168.1.200;Connect Timeout=30;"
             >
      <commandText>
        INSERT INTO Logs ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Lock]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,0)
      </commandText>
      <parameter name="@log_date" layout="${date}" />
      <parameter name="@thread" layout="${guid}" />
      <parameter name="@log_level" layout="${level}" />
      <parameter name="@logger" layout="${event-context:item=Logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <!-- add your logging rules here -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--这里全部使用最高等级Trace，即可以记录所有类型日志。可以根据需要降低等级，如使用Info，则仅记录Info及以上的日志，Trace、Debug日志不记录-->
    <logger name="*" minlevel="Trace" writeTo="database" />
    <logger name="Gc.CoreSys.Web.*" minlevel="Trace" writeTo="ownFile" />
  </rules>
</nlog>